
body{
  background-color: darkgreen;
}
.contenedor{
    background: #ffffff;
    margin: 0 auto;
    position: relative;
    height: 80%;
    width: 80%;
    padding: 0;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; 
}
th, td {
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: max-content;
    height: max-content;
    text-align: center;
    padding: 15px;
    border: 1px solid #000;
  }
  table {
    width: 100%;
    border-collapse: collapse ;
    border: none;
  }
  div table div{
    background: #ffffff;
    margin: 0 auto;
    position: relative;
    height: 80%;
    width: 80%;
    padding: 0px;
    justify-content: center;
    align-items: center;
  }
  button {
    border: none;
    padding-top: 0px;
    padding-bottom: 0px;
    color: rgba(40, 216, 63, 0.397);
    font-weight: bold;
    width:40px;
    height: 40px;
    margin-bottom: 5px;
    font-size: 40px;
    background-color: #ffffff;
}

button:hover {
    box-shadow:0 4px 8px 0 rgba(40, 216, 63, 0.397), 0 6px 20px 0 rgba(40, 216, 63, 0.397);
}

/* Media queries para pantallas pequeñas */
@media (max-width: 600px) {
    .contenedor {
        width: 95%; /* Ajusta el ancho para dispositivos muy pequeños */
        padding: 10px; /* Reduce el padding */
    }

    th, td {
        padding: 5px; /* Reduce el padding para celdas en pantallas pequeñas */
    }

    button {
        width: 30px; /* Ajusta el tamaño de los botones */
        height: 30px;
        font-size: 30px; /* Ajusta el tamaño de la fuente de los botones */
    }
}
