
.contenedor{
    background: #ffffff;
    margin: 0 auto;
    position: relative;
    height: 80%;
    width: 80%;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
th, td {
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: max-content;
    height: max-content;
    text-align: center;
    padding: 15px;
    border: 1px solid #000;
  }
  table {
    width: 100%;
    border-collapse: collapse ;
  }
  button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgba(40, 216, 63, 0.397);
    font-weight: bold;
    width: 200px;
    height: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 100px;
    background-color: #ffffff;
}

button:hover {
    box-shadow:0 4px 8px 0 rgba(40, 216, 63, 0.397), 0 6px 20px 0 rgba(40, 216, 63, 0.397);
}
